## 미세먼지 데이터 수집 - 크롤링

- 출처 : 에어코리아 시도별 대기 정보


- url : https://www.airkorea.or.kr/web/sidoQualityCompare?itemCode=10007&pMENU_NO=101

In [1]:
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
from html_table_parser import parser_functions as parser

In [32]:
url = 'https://www.airkorea.or.kr/web/sidoAirInfo/sidoAirInfoDay30?itemCode=10008&ymd=2024-01-09&areaCode=064&tDate=2024-01-01&monthDay=31'
driver = webdriver.Chrome() # 파일 15개라 for문을 짜는 것보다 수동으로 하는 것이 효율적이라 생각함(2024-01-09&areaCode=064&tDate=2024-01-01&monthDay=31 이 뒷부분 숫자 수정만 하면 url이 바뀜)
driver.get(url)
time.sleep(3)

soup = BeautifulSoup(driver.page_source,'html.parser')
temp = soup.find_all('table') #html에서 table만 가져오기

data = parser.make2d(temp[0]) #table안의 내용 가져오기

# df = pd.DataFrame(data=data[2:],columns = data[0])
# df = df.transpose() # 처음 데이터 가져올때만 사용하고 그 다음은 주석 처리

df1 = pd.DataFrame(data=data[2:],columns = data[0])
df1 = df1.transpose()
df = pd.concat([df,df1],axis=0) #df하나 만들고 그 밑으로 계속 합치기

In [33]:
df

,0,1,2,3,4,5,6,7,8,9,10
지점,[제주 서귀포시] 강정동,[제주 서귀포시] 남원읍,[제주 서귀포시] 대정읍,[제주 서귀포시] 동홍동,[제주 서귀포시] 성산읍,[제주 제주시] 애월읍,[제주 제주시] 연동,[제주 제주시] 이도동,[제주 제주시] 조천읍,[제주 제주시] 한림읍,[제주 제주시] 화북동
2022-11-01,11,14,20,8,19,-,25,24,27,26,24
2022-11-02,21,23,38,21,46,-,47,43,52,48,50
2022-11-03,11,15,21,11,25,-,22,20,31,25,21
2022-11-04,15,7,11,12,12,-,12,10,16,13,11
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-27,-,-,-,-,-,-,-,-,-,-,-
2024-01-28,-,-,-,-,-,-,-,-,-,-,-
2024-01-29,-,-,-,-,-,-,-,-,-,-,-
2024-01-30,-,-,-,-,-,-,-,-,-,-,-
2024-01-31,-,-,-,-,-,-,-,-,-,-,-

In [39]:
df.to_csv('weather_data/미세먼지_지역별.csv',index=False)